* 
{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* NAV */

.navigation
{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: .5%;
    font-size: large;
}

.navigation ul li a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navigation ul li
{
    list-style-type: none;
    height: 40px;
    line-height: 40px;
    flex-basis: 20%;
    background-color: rgb(0, 0, 0);
}

.navigation > ul
{
    display: flex;
    justify-content: center;
    text-align: center;
}

.navigation > ul > li 
{
    margin-left: .5%;
    margin-right: .5%;
}

.dropdown li
{
    display: none;
}

.navigation ul li:hover .dropdown li
{
    display: block;
} 

.navigation ul li a:hover 
{
    color: rgb(255, 94, 0);
    transition: .5s;
}

@media screen and (max-width: 480px) 
{
    .navigation > ul
    {
        display: block;
    }

    .navigation > ul > li 
    {
        margin: 1%;
    }

    .navigation
    {
        padding: 1%;
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px) 
{
    .navigation
    {
        padding: 2%;
    }

    .navigation > ul > li 
    {
        margin-left: 1%;
        margin-right: 1%;
    }

    .navigation ul li
    {
        flex-basis: 28%;
        height: 60px;
        line-height: 60px;
    }
}

/* BODY */

section .inner 
{
    max-width: 70%;
    width: 70%;
    margin: 0 auto;
    padding: 4% 0 4% 0;
}

#banner 
{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 700px;
}

#banner .inner 
{
    font-size: xx-large;
}

/* FOOTER */

footer
{
    padding: 1% 0 1% 0;
    background-color: black;
}

footer a 
{
    display: block;
    margin: 0 auto;
    width: 70%;
    color: white;
}

